.number-with-circle {
    border-radius: 900px;
    width: fit-content;
    min-width: 30px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    stroke-opacity: 100%;
    stroke-width: 20px;
}
